

:root {
    --primary-color: #17a2b8;
    // --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.primary-bg {
    background-color: #343a40;
}

section {
    color: black;
}